<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- ============================= -->
    <!-- COMPONENT SCAN -->
    <!-- ============================= -->
    <context:component-scan base-package="com.botree"/>

    <!-- ============================= -->
    <!-- DATASOURCE : MYSQL -->
    <!-- ============================= -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName"
                  value="org.postgresql.Driver"/>

        <!-- IMPORTANT:
             JDBC URL must NOT contain username/password -->
        <property name="url"
                  value="jdbc:postgresql://dpg-d5j1dfvfte5s73d48l2g-a.verginia-postgres.render.com:5432/chitchat_wer0?sslmode=require"/>

        <property name="username" value="master"/>
        <property name="password" value="8PS9pfYmSspz0jxlXv8DrvxLgTLuigoJ"/>

    </bean>

    <!-- ============================= -->
    <!-- HIBERNATE SESSION FACTORY -->
    <!-- ============================= -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource"/>

        <!-- Entity Packages -->
        <property name="packagesToScan">
            <list>
                <value>com.botree.model</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>


    </bean>

    <!-- ============================= -->
    <!-- TRANSACTION MANAGER -->
    <!-- ============================= -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Enable @Transactional -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>


